test/example/java
test/example/c
test/example/js/*
!test/example/js/test/
test/example/js/test/*
!test/example/js/test/specs-coffee/
test/block0/java
test/block0/c
test/block0/js/*
!test/block0/js/test/
test/block0/js/test/*
!test/block0/js/test/specs-coffee/
test/block3/java
test/block3/c
test/block3/js/*
!test/block3/js/test/
test/block3/js/test/*
!test/block3/js/test/specs-coffee/
test/block4/java
test/block4/c
test/block4/js/*
!test/block4/js/test/
test/block4/js/test/*
!test/block4/js/test/specs-coffee/
test/buf/java
test/buf/c
test/buf/js
test/lib/java
test/lib/c
test/lib/js
test/ui/js
*.pyc
*.iml