test/example/*
!test/example/gernet.json
test/exampleMeta/*
!test/exampleMeta/gernet.json
test/example2Meta/*
!test/example2Meta/gernet.json
test/example3Meta/*
!test/example3Meta/gernet.json
test/block0/*
!test/block0/gernet.json
test/block3/*
!test/block3/gernet.json
test/block4/*
!test/block4/gernet.json
test/buf/*
!test/buf/gernet.json
test/lib/*
!test/lib/gernet.json
test/struct/*
!test/struct/gernet.json
*.pyc
*.iml